name: Terraform Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:   # Allows manual trigger from GitHub UI

jobs:
  terraform:
    name: Terraform Deployment
    runs-on: [self-hosted, windows, KK, KAMALAKAR]

    env:
      AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.14.3

    - name: Terraform Init
      run: |
        cd Env/Dev
        terraform init -reconfigure

    - name: Terraform Validate
      run: |
        cd Env/Dev
        terraform validate

    - name: Terraform Plan
      run: |
        cd Env/Dev
        terraform plan -var-file="terraform.tfvars" -out=tfplan

    - name: Terraform Apply
      run: |
        cd Env/Dev
        terraform apply -auto-approve tfplan
